<h1><%= @platform.user.username %>'s <%= @platform.name %> Games</h1>

<% if @platform.user == current_user %>
<form method="GET" action='/game/new'>
    <input type="hidden" value='<%= @platform.id %>' name='id'>
    <input type="submit" value="Add New Game">
</form><br><br>
<% end %>

<% if @platform.games == [] %>
<h2>There are currently no games for this platform.</h2>
<% else %>

<h2><ul>
    <% sorted = @platform.games.sort_by {|game| game.name } %>
    <% sorted.each do |game| %>
        <li><a href='/game/<%= game.id %>'><%= game.name %></a></li>
    <% end %>
</ul></h2><br><br>

<% end %>

<form action='/profile' method ="GET">
    <input type="submit" value="Return to Platforms">
</form><br>

<% if @platform.user == current_user %>
<form action="/platform/<%=  @platform.id  %>" method="POST">
    <input type="hidden" value="DELETE"  name="_method">
    <input type="submit" value="Delete this Platform">
</form>
<% end %>